<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>WATCH_TRACKER_LABEL</string>

  <key>ProgramArguments</key>
  <array>
    <string>/WATCH_TRACKER_RUNTIME/current/venv/bin/watch-tracker</string>
    <string>scheduled-run</string>
    <string>--config</string>
    <string>/WATCH_TRACKER_RUNTIME/config/default.yaml</string>
  </array>

  <key>WorkingDirectory</key>
  <string>/WATCH_TRACKER_RUNTIME</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/WATCH_TRACKER_RUNTIME/current/venv/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>PYTHONUNBUFFERED</key>
    <string>1</string>
    <key>PYTHONDONTWRITEBYTECODE</key>
    <string>1</string>
    <key>WATCH_TRACKER_TIMEZONE</key>
    <string>America/Los_Angeles</string>
  </dict>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>0</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>StartInterval</key>
  <integer>1800</integer>

  <key>RunAtLoad</key>
  <true/>
  <key>Umask</key>
  <integer>63</integer>
  <key>ProcessType</key>
  <string>Background</string>
  <key>ExitTimeOut</key>
  <integer>60</integer>
  <key>ThrottleInterval</key>
  <integer>60</integer>

  <key>StandardOutPath</key>
  <string>/dev/null</string>
  <key>StandardErrorPath</key>
  <string>/dev/null</string>
</dict>
</plist>
